body {
	background: linear-gradient(to right, rgb(215, 88, 156), rgb(40, 215, 96));
}

.mainContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 100vw;
}

.player, .enemy {
	height: 80%;
	width: 30%;
	border: 2px solid black;
	margin: 3%;
}

.player img, .enemy img {
	border: 2px solid black;
	height: 30%;
	width: 80%;
}
